<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Realtime Chat App</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  </head>
  <body>
    <main>
      <form action="/room/create_process" method="post">
        <input type="text" placeholder="Room Name" name="roomName" maxlength="20" />
        <input type="hidden" value="<%=user.userId%>" name="owner" maxlength="20"/>
        <input type="submit" value="create room" />
      </form>
    </main>
  </body>
</html>
